/* Reset general */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  background-color: #3e4a59;
  height: 100%;
}

/* Contenedor principal */
.clock-container {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #162535;
  color: #f8f3f3;
  padding: 3px 10px;
  overflow: hidden; /* Evita scroll en la página */
  width: 400px;
}

/* Título principal */
h1 {
  font-size: 2.2rem; /* Reducido el tamaño del título */
  color: #f9fafc;
  margin-bottom: 20px; /* Reducido el espacio debajo del título */
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px 0;
}

/* Sección de Break y Session */
#break-label,
#session-label {
  font-size: 1.1rem; /* Reducido tamaño de texto */
  margin-bottom: 5px;
  color: #f0ebeb;
}

#break-length,
#session-length {
  font-size: 1.8rem; /* Reducido tamaño de texto */
  font-weight: bold;
  color: #eee7e7;
}

/* Botones de incremento y decremento */
button {
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1.4rem; /* Reducido tamaño de texto */
  padding: 8px 18px; /* Reducido el padding */
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 10vh;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:active {
  background-color: #004085;
}

/* Contenedor del temporizador */
#timer-label {
  font-size: 1.4rem; /* Reducido tamaño de texto */
  margin-top: 20px;
  color: #007bff;
  font-weight: 600;
}

/* Formato del tiempo */
#time-left {
  font-size: 3.5rem; /* Reducido tamaño del texto */
  font-weight: 700;
  color: #333;
  margin-top: 20px;
  background-color: #fff;
  padding: 15px; /* Reducido padding */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 160px; /* Reducido el ancho */
  text-align: center;
  margin-bottom: 20px; /* Reducido margen inferior */
}

/* Contenedor de los controles */
button#start_stop,
button#reset {
  font-size: 1.2rem;
  width: 150px;
  padding: 12px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button#start_stop {
  background-color: #28a745;
}

button#start_stop:hover {
  background-color: #218838;
}

button#reset {
  background-color: #dc3545;
}

button#reset:hover {
  background-color: #c82333;
}

/* Diseño responsivo */
@media (max-width: 600px) {
  .clock-container {
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  #time-left {
    font-size: 3rem; /* Reducido tamaño del tiempo */
    width: 140px; /* Reducido el ancho */
    padding: 12px;
  }

  button {
    font-size: 1.2rem;
    padding: 8px 15px;
  }

  #break-label,
  #session-label {
    font-size: 1rem;
  }

  #break-length,
  #session-length {
    font-size: 1.5rem;
  }
}
